body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	font-family: @font-family;
}

h1 {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: center;

	//background-color: rgba( 0, 0, 0, 0.25 );
}

h2 {
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
	text-shadow: 0px 1px 2px black;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.plx {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col_1of2 {
	width: 50%;
	float: left;
	padding: 10px;
}

.clearFix() {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

.section {
	&::after {
		.clearFix()
	}
	padding: 40px 10px 40px 10px;

}
@media screen and ( max-width: 600px ) {
	.col_1of2 {
		width: 100%;
		float: none;
		padding: 0;
	}
}

.func_center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}
