#features {
	.clearFix();
	min-height: 400px;
	padding: 50px 0;
	padding-top: 0;
	text-align: center;
	h1 {
		color: black;
	}
	img {
		vertical-align: middle;

		padding: 5px;
	}
	.break {
		display: inline-block;
	}
	.feature {
		text-align: center;
		.clearFix();
		margin: 20px;
		margin-top: 50px;
		text-align: center;
		color: #333;
		width: 260px;
		display: inline-block;
		//border: 1px solid rgba( 0, 0, 0, 0.15 );

		.feature-title {
			font-weight: normal;
			margin-top: 35px;
			left: 50%;
			width: 90%;
			transform: translate( -50%, -50% );
			position: absolute;
			font-size: 17px;
			@media screen and (max-width: 600px) {
				font-size: 25px;
			}

		}
		img {
			margin-top: 60px;
			width: 65%;
			@media screen and (max-width: 600px) {
				width: 100%;
				margin-top: 100px;
			}

		}
		.feature-body {
			padding: 0 20px;
			text-align: left;
			font-size: 14px;
			line-height: 20px;
			ul {
				margin-left: 10px;
				list-style: disc inside;
				li {
					margin: 10px 0;
				}
			}
			p {
				margin-top: 10px;
			}
		}

	}

}

@media screen and (min-width: 1200px) {
	#features {
		.break {
			display: block;
		}
	}
}
