#prefooter {

	padding: 50px;
	color: white;
	background: url(img/bg.png);
	background-position: bottom right;
	background-size: cover;
	text-align: center;
	z-index: 1;
	h1, h2 {
		text-shadow: 0px 1px 2px black;
	}
	h2 {
		height: 40px;
	}
	a {

		display: inline-block;
		background-color: #440000;
		color: white;
		margin: 5px;
		padding: 6px 20px 6px 20px;
		line-height: 25px;
		box-shadow: 0px 0px 10px black;
		font-size: 19px;
		border-radius: 25px;
		border: 2px solid white;
		&:hover {
			background-color: lighten( #550000, 5% );
		}
	}
	//border-bottom: 3px solid rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 1px 7px 0px rgba( 0, 0, 0, 0.9 );
	position: absolute;
	width: 100%;
}

#footer {
	z-index: 0;
	box-shadow: 0 0 1px inner black;
	background: linear-gradient(to right, #F44336 0%,#B71C1C 100%);
	height: 500px;
	line-height: 100px;
	color: white;
	text-align: center;
	font-size: 12px;
	text-shadow: 0 1px 1px black;
	margin-top: 250px;
}
