nav.main {
	background-color: #e8e8e8;
	width: 100%;
	position: fixed;
	border-bottom: 5px solid #F00;
	top: 0;
	z-index: 999;
	height: 110px;
	text-align: center;
	img {
		height: 50px;
		margin: 10px;
		vertical-align: middle;
	}
	ul {
		display: inline-block;
		li {
			float: left;
			margin: 0 10px;
			a {
				color: black;
				font-weight: normal;
				&.active {
					color: #800;
				}
			}
		}
	}
	.fa-navicon {
		display: none;
		cursor: pointer;
		vertical-align: middle;
		font-size: 31px;
	}
}

@media screen and ( max-width: 600px ) {
	nav.main {
		height: 75px;
		ul {
			display: none;
		}
		.fa-navicon {
			display: inline-block;
		}
	}
}
