#news {
	.clearFix();
	margin-top: 20px;
	min-height: 300px;
	max-width: 1200px;
	margin: auto;
	.wrap {
		width: 600px;
		float: left;
		margin: auto;
		twitterwidget {
			margin: auto;
		}
	}

}

@media screen and (max-width: 1220px) {
	#news {
		.wrap {
			.clearFix();
			width: 100%;
			float: none;
		}
	}
}
