
#quickLinks {
	.clearFix();
	background-color: black;
	min-height: 100px;
	color: white;

	text-align: center;
	padding: 40px 0 20px 0;
	.wrap {
		max-width: 600px;
		margin: auto;
	}

	.col_1of2 {
		margin-bottom: 30px;
	}

	a {
		margin: auto;
		margin-bottom: 10px;
		display: block;
		background-color: @darkBlue;
		color: @lightBlue2;
		width: 280px;
		line-height: 30px;
		box-shadow: 0px 0px 2px black;
		font-size: 13px;
		padding-right: 20px;
		font-weight: normal;
		white-space: nowrap;
		border: 2px @lightBlue2 solid;
		border-radius: 3px;

		i{
			float: left;
			width: 35px;
			display: inline-block;
			background-color: @darkBlue;
			line-height: 30px;
			font-size: 200%;
		}
		&:hover {
			background-color: lighten( @darkBlue, 5% );
			i {
				background-color: lighten( @darkBlue, 5% );
			}
		}
	}

}
