@mnav-width: 250px;

.overlay {
	position: absolute;
	z-index: 10000;
	background-color: rgba( 0, 0, 0, 0.5 );
	cursor: pointer;
	transition: opacity .3s;
}

.mnav {
	text-align: center;
	position: fixed;
	z-index: -1;
	top: -5%;
	left: -@mnav-width;
	padding-top: 20%;
	height: 110%;
	width: @mnav-width;
	background: linear-gradient( rgb(255,48,25),rgb(152, 16, 16) );

	transition: left .3s;
	ul {
		li {
			a {
				display: block;
				color: white;
				padding: 10px;
				&:hover, &:active {
					background-color: #222;
				}
			}
		}
	}
}

body {
	position: relative;
	transition: margin-left .3s;

}

body.navOpen {
	box-shadow: -5px 0 20px -5px rgba( 0, 0, 0, 1 );
	margin-left: @mnav-width;
	.mnav {
		left: 0;
	}
	.overlay {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
