#top {
	position: relative;
	width: 100%;
	//background-color: #300;
	//background: linear-gradient(to bottom right, #a00 0%,#200 100%);
	background-image: url("img/placeholder.png");

	canvas {
		perspective: 2000px;
		transform: perspective();
		z-index: 0;
	}
	.brand {
		text-align: center;
		.func_center();
		top: 20%;
		h2 {
			margin: 0;
			color: white;
			font-size: 1.3em;
		}
		img {
			background-color: rgba( 255,255,255,1 );
			border-radius: 50px;
			padding: 5px 15px;
			//border: 2px solid rgba( 100, 0, 0, .95 );
			box-shadow: 0 1px 15px 1px black;
			margin-bottom: 10px;
			width: 181px
		}
	}

	a {
		text-align: center;
		margin: auto;
		margin-bottom: 10px;
		display: block;
		background-color: @darkBlue;
		color: @lightBlue2;
		width: 280px;
		line-height: 30px;
		box-shadow: 0px 0px 2px black;
		font-size: 13px;
		padding-right: 20px;
		font-weight: normal;
		white-space: nowrap;
		border: 2px @lightBlue2 solid;
		border-radius: 3px;
		position: absolute;
		left: 50%;
		bottom: 20px;
		transform: translate( -50%, 50% );
		z-index: 99;
		i{
			float: left;
			width: 35px;
			display: inline-block;
			background-color: @darkBlue;
			line-height: 30px;
			font-size: 200%;
		}
		&:hover {
			background-color: lighten( @darkBlue, 5% );
			i {
				background-color: lighten( @darkBlue, 5% );
			}
		}
	}
}
