/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px 1px 2px black;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.plx {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col_1of2 {
  width: 50%;
  float: left;
  padding: 10px;
}
.section {
  padding: 40px 10px 40px 10px;
}
.section::after::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 600px) {
  .col_1of2 {
    width: 100%;
    float: none;
    padding: 0;
  }
}
nav.main {
  background-color: #e8e8e8;
  width: 100%;
  position: fixed;
  border-bottom: 5px solid #F00;
  top: 0;
  z-index: 999;
  height: 110px;
  text-align: center;
}
nav.main img {
  height: 50px;
  margin: 10px;
  vertical-align: middle;
}
nav.main ul {
  display: inline-block;
}
nav.main ul li {
  float: left;
  margin: 0 10px;
}
nav.main ul li a {
  color: black;
  font-weight: normal;
}
nav.main ul li a.active {
  color: #800;
}
nav.main .fa-navicon {
  display: none;
  cursor: pointer;
  vertical-align: middle;
  font-size: 31px;
}
@media screen and (max-width: 600px) {
  nav.main {
    height: 75px;
  }
  nav.main ul {
    display: none;
  }
  nav.main .fa-navicon {
    display: inline-block;
  }
}
#top {
  position: relative;
  width: 100%;
  background-image: url("img/placeholder.png");
}
#top canvas {
  perspective: 2000px;
  transform: perspective();
  z-index: 0;
}
#top .brand {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 20%;
}
#top .brand h2 {
  margin: 0;
  color: white;
  font-size: 1.3em;
}
#top .brand img {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 0 1px 15px 1px black;
  margin-bottom: 10px;
  width: 181px;
}
#top a {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  background-color: #031822;
  color: #1296d4;
  width: 280px;
  line-height: 30px;
  box-shadow: 0px 0px 2px black;
  font-size: 13px;
  padding-right: 20px;
  font-weight: normal;
  white-space: nowrap;
  border: 2px #1296d4 solid;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 50%);
  z-index: 99;
}
#top a i {
  float: left;
  width: 35px;
  display: inline-block;
  background-color: #031822;
  line-height: 30px;
  font-size: 200%;
}
#top a:hover {
  background-color: #052939;
}
#top a:hover i {
  background-color: #052939;
}
#features {
  min-height: 400px;
  padding: 50px 0;
  padding-top: 0;
  text-align: center;
}
#features::after {
  content: "";
  clear: both;
  display: table;
}
#features h1 {
  color: black;
}
#features img {
  vertical-align: middle;
  padding: 5px;
}
#features .break {
  display: inline-block;
}
#features .feature {
  margin: 20px;
  margin-top: 50px;
  text-align: center;
  color: #333;
  width: 260px;
  display: inline-block;
}
#features .feature::after {
  content: "";
  clear: both;
  display: table;
}
#features .feature .feature-title {
  font-weight: normal;
  margin-top: 35px;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  #features .feature .feature-title {
    font-size: 25px;
  }
}
#features .feature img {
  margin-top: 60px;
  width: 65%;
}
@media screen and (max-width: 600px) {
  #features .feature img {
    width: 100%;
    margin-top: 100px;
  }
}
#features .feature .feature-body {
  padding: 0 20px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}
#features .feature .feature-body ul {
  margin-left: 10px;
  list-style: disc inside;
}
#features .feature .feature-body ul li {
  margin: 10px 0;
}
#features .feature .feature-body p {
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  #features .break {
    display: block;
  }
}
#quickLinks {
  background-color: black;
  min-height: 100px;
  color: white;
  text-align: center;
  padding: 40px 0 20px 0;
}
#quickLinks::after {
  content: "";
  clear: both;
  display: table;
}
#quickLinks .wrap {
  max-width: 600px;
  margin: auto;
}
#quickLinks .col_1of2 {
  margin-bottom: 30px;
}
#quickLinks a {
  margin: auto;
  margin-bottom: 10px;
  display: block;
  background-color: #031822;
  color: #1296d4;
  width: 280px;
  line-height: 30px;
  box-shadow: 0px 0px 2px black;
  font-size: 13px;
  padding-right: 20px;
  font-weight: normal;
  white-space: nowrap;
  border: 2px #1296d4 solid;
  border-radius: 3px;
}
#quickLinks a i {
  float: left;
  width: 35px;
  display: inline-block;
  background-color: #031822;
  line-height: 30px;
  font-size: 200%;
}
#quickLinks a:hover {
  background-color: #052939;
}
#quickLinks a:hover i {
  background-color: #052939;
}
#news {
  margin-top: 20px;
  min-height: 300px;
  max-width: 1200px;
  margin: auto;
}
#news::after {
  content: "";
  clear: both;
  display: table;
}
#news .wrap {
  width: 600px;
  float: left;
  margin: auto;
}
#news .wrap twitterwidget {
  margin: auto;
}
@media screen and (max-width: 1220px) {
  #news .wrap {
    width: 100%;
    float: none;
  }
  #news .wrap::after {
    content: "";
    clear: both;
    display: table;
  }
}
#prefooter {
  padding: 50px;
  color: white;
  background: url(img/bg.png);
  background-position: bottom right;
  background-size: cover;
  text-align: center;
  z-index: 1;
  box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100%;
}
#prefooter h1,
#prefooter h2 {
  text-shadow: 0px 1px 2px black;
}
#prefooter h2 {
  height: 40px;
}
#prefooter a {
  display: inline-block;
  background-color: #440000;
  color: white;
  margin: 5px;
  padding: 6px 20px 6px 20px;
  line-height: 25px;
  box-shadow: 0px 0px 10px black;
  font-size: 19px;
  border-radius: 25px;
  border: 2px solid white;
}
#prefooter a:hover {
  background-color: #6f0000;
}
#footer {
  z-index: 0;
  box-shadow: 0 0 1px inner black;
  background: linear-gradient(to right, #F44336 0%, #B71C1C 100%);
  height: 500px;
  line-height: 100px;
  color: white;
  text-align: center;
  font-size: 12px;
  text-shadow: 0 1px 1px black;
  margin-top: 250px;
}
.overlay {
  position: absolute;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: opacity .3s;
}
.mnav {
  text-align: center;
  position: fixed;
  z-index: -1;
  top: -5%;
  left: -250px;
  padding-top: 20%;
  height: 110%;
  width: 250px;
  background: linear-gradient(#ff3019, #981010);
  transition: left .3s;
}
.mnav ul li a {
  display: block;
  color: white;
  padding: 10px;
}
.mnav ul li a:hover,
.mnav ul li a:active {
  background-color: #222;
}
body {
  position: relative;
  transition: margin-left 0.3s;
}
body.navOpen {
  box-shadow: -5px 0 20px -5px #000000;
  margin-left: 250px;
}
body.navOpen .mnav {
  left: 0;
}
body.navOpen .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
